<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="AuthenticationLog" xsi:type="File" fileName="${basedir}/Authentication_${shortdate}_nlog.txt" layout="${date}|${level}|${message}" />
    </targets>
    <rules>
      <logger name="Authentication" minlevel="Info" writeTo="AuthenticationLog" />
    </rules>
  </nlog>

  <system.serviceModel>
    <extensions>
    </extensions>
    <bindings>

      <wsHttpBinding>
        <binding name="WsPlain" messageEncoding="Text" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxReceivedMessageSize="52428800" maxBufferPoolSize="750000">
          <!--250000 is minimum quantity of bytes for import 100 payments from 1C-->
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
          <!--<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"-->
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="52428800" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <!--250000 is minimum quantity of bytes for import 100 payments from 1C-->
        </binding>
      </wsHttpBinding>


    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebDataBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1256" maxConcurrentInstances="1856" maxConcurrentSessions="1600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BG.Domain.Authentication.WCFServices.Impl.AuthenticationService" behaviorConfiguration="AuthenticationBehavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="WsPlain" name="WsPlain" contract="BG.Domain.Authentication.WCFServices.IAuthenticationService" />
      </service>
    </services>
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>