<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="source" value="" xdt:Locator="key"/>
    <add key="template" value="" xdt:Locator="key"/>
    <add key="result" value="" xdt:Locator="key"/>    
  </appSettings>
</configuration>